.housesList {
  display: flex;
}

.housesList__house {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc(33.33% - 0.33rem);
  padding: 0.5rem;
  background: #333;
  color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
}

.housesList__house:not(:last-child) {
  margin-right: 0.7rem;
}

.house__picture {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.house__name {
  border-bottom: solid 1px #AAA;
  width: 100%;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}
